<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="SQLConnectionStringName" value="AzureSql" xdt:Transform="SetAttributes"
      xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add name="MSSQL" xdt:Transform="Remove" />
    <add name="AzureSql"
      connectionString="Server=tcp:remote.database.windows.net,1433;Initial Catalog=global;Persist Security Info=False;User ID=azureuser;Password={secure_password};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
      providerName="System.Data.SqlClient"
      xdt:Transform="Insert" />
    <add name="Redis"
      connectionString="remote.redis.cache.windows.net:6380,password={secure_password},ssl=True,abortConnect=False"
      xdt:Transform="Insert" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors defaultRedirect="Error.htm"
      mode="RemoteOnly" xdt:Transform="Replace">
      <error statusCode="404" redirect="NotFound.htm" />
      <error statusCode="403" redirect="Forbidden.htm" />
    </customErrors>
    <machineKey xdt:Transform="InsertIfMissing" />
    <machineKey validation="SHA1" decryption="AES"
      validationKey="1E3D5BABF386E7A89DAE461DF2FA228734680C61"
      decryptionKey="18F665CA29B4911B0C1755979C15F40466237BC9A101836A5AC6D1CE85D6B022"
      xdt:Transform="SetAttributes" />
    <sessionState xdt:Transform="InsertIfMissing" />
    <sessionState xdt:Transform="Replace"
      mode="Custom"
      customProvider="RedisSessionStateStore">
      <providers>
        <add name="RedisSessionStateStore"
          type="Microsoft.Web.Redis.RedisSessionStateProvider"
          host="remote.redis.cache.windows.net"
          port="6380"
          accessKey="{secure_password}"
          ssl="True"
          applicationName="Poc"
          databaseId="461"
          throwOnError="True" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <httpErrors xdt:Transform="SetAttributes" errorMode="DetailedLocalOnly" />
    <asp xdt:Transform="SetAttributes"
      appAllowClientDebug="False"
      appAllowDebugging="False"
      scriptErrorSentToBrowser="False">
      <comPlus xdt:Transform="SetAttributes" appServiceFlags="None" />
    </asp>
    <modules xdt:Transform="InsertIfMissing" />
    <modules>
      <remove name="Session" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)" />
      <add name="Session" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)" />
      <add name="Session" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
        type="Microsoft.AspNet.SessionState.SessionStateModuleAsync"
        preCondition="integratedMode" />
    </modules>
  </system.webServer>
</configuration>