<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="SQLProvider" value="SQLOLEDB" />
        <add key="SQLConnectionStringName" value="MSSQL" />
    </appSettings>
    <connectionStrings>
        <add name="MSSQL" connectionString="Server=localhost,1433;Initial Catalog=Poc;Integrated Security=true;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" />
        <customErrors mode="Off" />
        <sessionState mode="InProc" cookieless="false" timeout="20" />
    </system.web>
    <system.webServer>
        <httpErrors errorMode="Detailed" />
        <asp appAllowClientDebug="True" appAllowDebugging="True" scriptErrorSentToBrowser="True" enableParentPaths="True">
            <comPlus appServiceFlags="EnableTracker" />
            <limits maxRequestEntityAllowed="2147483647" />
            <session allowSessionState="true" timeout="00:20:00" />
        </asp>
    </system.webServer>
</configuration>